
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.vagrant
.idea
public/.htaccess
/ubuntu-xenial-16.04-cloudimg-console.log
